<!DoCTYPE html>
        <html>
            <head>
                <title>Projeto Academico</title>
                    <body>
                        <h1>
                            projeto academico
                        </h1>
                        <h3>
                            esse é um site para projetos academicos que ajudam no seu caminho ao aprendizado supremo, rei dos magos o patolino.

                            <p>Projeto acadêmico voltado à investigação e análise de um tema específico, com base em métodos científicos e revisão de literatura. O estudo busca compreender o problema proposto, desenvolver reflexão crítica e apresentar possíveis soluções ou contribuições para a área. Ao final, espera-se produzir resultados relevantes que ampliem o conhecimento sobre o tema pesquisado.</p>

                            <p><a href="/pagina2">Explicação do projeto </a></p>

                           <p> <a href="/pagina3">Projetos da Instituição </a></p>

                           <p> <a href="/pagina4">Contatos </a></p>
                        </h3>
                    </body>

            </head>

        </html>