<!DOCTYPE html>
<html>
<head>
    <title>Projeto academico</title>
</head>
<body>

<h2>Um projeto acadêmico é um planejamento de pesquisa desenvolvido para estudar um determinado tema de forma organizada e científica. Nele são definidos o problema a ser investigado, os objetivos do estudo, a metodologia utilizada e as etapas de desenvolvimento. Esse tipo de projeto orienta o pesquisador durante o trabalho e garante que a investigação seja feita de maneira clara, estruturada e baseada em fontes confiáveis. O resultado final contribui para ampliar o conhecimento sobre o assunto estudado.</h2>

<h3>
    Membros: Lucas De Paiva Souza
</h3>
<a href="/pagina1">Voltar para Home</a>

</body>
</html>