<!DOCTYPE html>
<html>
<head>
    <title>Página 3</title>
</head>
<body>

<h2>Lista de projetos</h2>

<ul>
    <li>Frutas
        <ul>
            <li>Impacto das Redes Sociais na Saúde Mental de Jovens</li>
            <li>Descrição: Este projeto investiga como o uso frequente de redes sociais influencia a saúde mental de adolescentes e jovens adultos, analisando fatores como ansiedade, autoestima e comportamento social. O estudo utiliza questionários e entrevistas para coletar dados e propor recomendações de uso consciente</li>
        </ul>
    </li>
    <li>Sustentabilidade e Consumo Consciente em Escolas</li>
    <li>Descrição: O projeto busca compreender como práticas sustentáveis podem ser implementadas no cotidiano escolar, incentivando o consumo consciente e a redução de resíduos. A pesquisa inclui observação, levantamento de hábitos dos alunos e sugestões de ações educativas para promover sustentabilidade.</li>
</ul>


<a href="/pagina1">Voltar para página 1</a>

</body>
</html>